{% extends "photologue/root.html" %}

{% block title %}Album: {{ gallery.title }}{% endblock %}

{% block content %}
    <h1 class="page-header">Album: {{ gallery.title }}</h1>
    <p class="text-right muted"><small>Publié le {{ gallery.date_added }}</small></p>
    {% if not gallery.is_public %}
        <div class="alert alert-danger text-center">Cet album est privé: vous ne pouvez y accéder que si vous disposez au préalable du lien.<br>
        Réfléchissez-donc aux conséquences avant de le partager.</div>
    {% endif %}
    {% if gallery.description %}{{ gallery.description|safe }}{% endif %}
    <div class="clearfix">
        {% for photo in gallery.photos.all %}
            <a href="{% url 'photologue:pl-gallery-photo' gallery.slug forloop.counter %}">
                 <img src="{{ photo.get_thumbnail_url }}" class="thumbnail pull-left" alt="{{ photo.title }}">
            </a>
        {% endfor %}
    </div>
    <br>
    <div><a href="{% url 'photologue:gallery-list' %}" class="btn btn-default">Afficher les albums publics</a></div>
    {{ disqus }}
{% endblock %}
