{% extends "zinnia/skeleton.html" %}

{% block nav %}
  <ul class="nav navbar-nav navbar-left">
    <li><a href="{% url "zinnia:entry_archive_index" %}">Blog</a></li>
    <li class="active"><a href="{% url 'photologue:gallery-list' %}">Photos</a></li>
    <li><a href="{% url "cine:home" %}">CinéNim</a></li>
    <li><a href="{% url "comptes:home" %}">Comptes</a></li>
  </ul>
  {% if user.is_superuser %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin/photologue/">Photologue Admin</a></li>
    </ul>
  {% endif %}
{% endblock %}

{% block maincontent %}
{% block content %}{% endblock %}
<hr>
<div class="text-center">
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Ces <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" rel="dct:type">œuvres</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="https://saurel.me/" property="cc:attributionName" rel="cc:attributionURL">https://saurel.me/</a> sont mises à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">licence Creative Commons Attribution 4.0 International</a>.
</div>
{% endblock %}
