{% extends "base.html" %}

{% block navbar-right %}
  {% if user.is_superuser %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin/photologue/">Photologue Admin</a></li>
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
{% block photologue_content %}{% endblock %}
<hr>
<div class="text-center">
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Ces <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" rel="dct:type">œuvres</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="https://saurel.me/" property="cc:attributionName" rel="cc:attributionURL">https://saurel.me/</a> sont mises à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">licence Creative Commons Attribution 4.0 International</a>.
</div>
{% endblock %}
