[submodule "cine"]
	path = cine
	url = git@github.com:nim65s/django-cine.git
	branch = master
[submodule "comptes"]
	path = comptes
	url = git@github.com:nim65s/django-comptes.git
	branch = master
[submodule "django-disqus"]
	path = django-disqus
	url = git@github.com:nim65s/django-disqus.git
	branch = master
[submodule "django-DD-when"]
	path = when
	url = git@github.com:nim65s/django-DD-when.git
	branch = master
[submodule "django-ga"]
	path = django-ga
	url = git@github.com:nim65s/django-ga.git
	branch = master
[submodule "gpg"]
	path = gpg
	url = git@github.com:nim65s/django-PGP-tables.git
	branch = master
[submodule "groupe"]
	path = groupe
	url = git@bitbucket.org:nim65s/groupe.git
[submodule "noel"]
	path = secret_santa
	url = git@github.com:nim65s/django-secret_santa.git
