[submodule "comptes"]
	path = comptes
	url = git@github.com:nim65s/django-comptes.git
	branch = master
[submodule "groupe"]
	path = groupe
	url = git@bitbucket.org:nim65s/groupe.git
[submodule "dbmdb"]
	path = dbmdb
	url = git@github.com:nim65s/dbmdb.git
