Django<1.7
django-app-namespace-template-loader
django-blog-zinnia==0.14.1
django-bootstrap3
django-braces
django-dajax
django-dajaxice
django-mptt
django-photologue
django-sekizai
django-tinymce
django-widget-tweaks
Pillow
python-memcached
zinnia-theme-bootstrap==0.3.1
