beautifulsoup4
django
django-bootstrap3
django-braces
django-photologue
markdown
Pillow
psycopg2
pygments
pytz
requests
python-memcached
-e git://github.com/Nim65s/MarkDownBlog.git#egg=markdownblog
-e git://github.com/Nim65s/django-cineclub.git#egg=django-cineclub
-e git://github.com/Nim65s/django-comptes.git#egg=django-comptes
-e git://github.com/Nim65s/django-PGP-tables.git#egg=django-pgp-tables
-e git://github.com/Nim65s/django-YummyEmailOrUsernameInsensitiveAuth.git#egg=django-yeouia
-e git://github.com/Nim65s/ndh.git#egg=ndh
-e git://github.com/nim65s/django-autoslug#egg=django-autoslug
