beautifulsoup4
Django
django-autoslug
django-bootstrap3
django-braces
django-photologue
flake8
gunicorn
markdown
IPython
isort
pep8-naming
Pillow
pip-tools
psycopg2
pygments
pytz
raven
requests
python-memcached
-e git://github.com/Nim65s/MarkDownBlog.git#egg=markdownblog
-e git://github.com/Nim65s/django-cineclub.git#egg=django-cineclub
-e git://github.com/Nim65s/django-comptes.git#egg=django-comptes
-e git://github.com/Nim65s/django-PGP-tables.git#egg=django-pgp-tables
-e git://github.com/Nim65s/django-EmailOrUsernameInsensitiveAuth.git#egg=django-eouia
