{% extends "main.html" %}

{% block content %}

<div style="margin:auto;width:400px;">
    <h1>Changement de mot de passe</h1>
    <p>Si tu as oublié ton mot de passe, entre simplement ton adresse mail là:</p>

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
         {{ form.email.errors }}
         <div class="control-group"><label for="id_email" class="control-label">E-mail:</label> {{ form.email }}</div>
         <div class="controls"><button type="submit" class="btn btn-primary">Changer mon mot de passe</button></div>
    </form>
</div>

{% endblock %}
