{% extends "main_registration_complete.html" %}

{% block content %}

<div style="margin:auto;width:400px;">
    <h4>Password reset</h4>

    {% if validlink %}
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <div class="control-group"><label for="id_new_password1" class="control-label">Nouveau mot de passe:</label>{{ form.new_password1 }}</div>
            {{ form.new_password2.errors }}
            <div class="control-group"><label for="id_new_password2" class="control-label">Confirmation:</label>{{ form.new_password2 }}</div>
            <div class="controls"><button type="submit" class="btn btn-primary">Changer mon mot de passe</button></div>
        </form>
    {% else %}
        <h1>Échec.</h1>
        <p>Ce lien est invalide, probablement parce qu’il a déjà été utilisé. Essaye encore!</p>
    {% endif %}
</div>

{% endblock %}
