{% extends "base.html" %}
{% load bootstrap3 ndh %}

{% block title %}À Propos{% endblock %}

{% block homecontent %}
<h1>À Propos</h1>

<h2>Contact</h2>
<p>{% show_email 'guilhem@saurel.me' %}</p>

<h2>Mentions légales</h2>
<p class="text-center"><a href="http://creativecommons.org/licenses/by/4.0/">
<img alt="CC BY 4.0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
</a></p>
<p>Sauf mention contraire, l’intégralité du contenu de ce site est mis à disposition selon les termes de la
<a href="http://creativecommons.org/licenses/by/4.0/">licence Creative Commons Attribution 4.0 International</a>.</p>
<p>Le contenu de ce site n’engage que son auteur.</p>
{% endblock %}
