{% load staticfiles %}
{% load dajaxice_templatetags %}
{% load sekizai_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block titre %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static "favicon.png" %}" />
        {% with_data "css-data" as stylesheets %}{% for stylesheet in stylesheets %}
            <link href="{% static stylesheet %}" rel="stylesheet" media="screen" />
        {% endfor %}{% end_with_data %}
        {% add_data "css-data" "css/bootstrap.min.css" %}
        {% add_data "css-data" "nim.css" %}
        {% render_block "css" %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    </head>
    <body>
        <header class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="{% url 'home' %}">{% block soustitre %}{%endblock %}</a>
                {% if user.is_authenticated %}
                <nav role="navigation">
                    <ul class="nav">
                        {% block nav %}{% endblock %}
                    </ul>
                    </nav>
                    <!--<form class="navbar-search pull-right form-search">
                        <div class="input-append">
                            <input type="text" class="search-query input-medium" placeholder="Search">
                            <button class="btn" type="submit"><i class="icon-search"></i></button>
                        </div>
                    </form>-->
                    <ul class="nav pull-right">
                        <li><a href="{% url 'about' %}">À Propos…</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'profil' %}">Mon Profil</a></li>
                        {% if user.is_superuser %}
                            <li><a href="/admin">Admin</a></li>
                        {% endif %}
                    </ul>
                {% else %}
                    <form method="post" action="{% url 'login' %}" class="form-inline navbar-form pull-right">
                        {% csrf_token %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                        {% else %}
                            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                        {% endif %}
                        <input type="text" name="username" class="input-small" placeholder="Login" autofocus required>
                        <input type="password" name="password" class="input-small" placeholder="Password" required>
                        <button type="submit" class="btn">log.in</button>
                    </form>
                {% endif %}
            </div>
        </header>
        {% for message in messages %}
            <p class="messages"><span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span></p>
        {% endfor %}
        {% block content %}
        {% endblock %}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        {% dajaxice_js_import %}
        <script src="{% static "/static/dajax/jquery.dajax.core.js" %}"></script>
        {% render_block "js" %}
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        {{ google_analytics }}
    </body>
</html>
